﻿@model List<Station_Velo>

@section Stylesheets {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <style type="text/css">
        #map {
            height: 800px;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Carte</h1>
    <div id="map">
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script type="text/javascript">
        var lat = 44.837861;
        var lon = -0.5796051;
        var macarte = null;
        var stations = {
            @foreach (var station in Model)
             {
                <text>
                    "@station.Nom": { "lat": @station.Latitude, "lon": @station.Longitude, "label": "@Html.Raw(String.Format("Nombre vélos :  {0} <br /> Nombre places : {1}", station.Nombre_Velo_Total, station.Nombre_Emplacement_Libre))" },
                </text>
             }
        };
        function initMap() {
            macarte = L.map('map').setView([lat, lon], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);
            for (station in stations) {
                var marqueur = L.marker([stations[station].lat, stations[station].lon]).addTo(macarte);
                marqueur.bindPopup(stations[station].label);
            }
        }
        window.onload = function () {
            initMap();
        };
    </script>
}