﻿@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Crenn Antoine</h1>
    <a href="https://gitlab.com/Antoine_Crenn/architecture-logicielle/-/tree/master/VCubWatcher/VCubWatcher" class="text-dark"><h3>Lien vers le Code</h3></a>
</div>
<div class="text-left">
    <p class="barrer">Avoir une application ASP.Net Core de base nommée "VCubWatcher" qui tourne sur sa machine.</p>
    <p class="barrer">Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.</p>
    <p class="barrer">Publier votre code sur le repository à chaque avancée.</p>
    <p class="barrer">Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris".</p>
    <p class="barrer">Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure qu'ils sont complétés) et l'URL où votre code source est visible.</p>
    <p class="barrer">Se brancher sur l'API Vcub de Bordeaux Métropole pour récupérer les données en temps réel.</p>
    <p class="barrer">Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique). Pour chaque station on affichera : le nom de la station, le nombre de vélo électriques, le nombre de vélos au total, ainsi que le nombre d'emplacements libres.</p>
    <p class="barrer">Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement).</p>
    <p class="barrer">Ajouter sur chaque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos disponibles et de places libres à la station en question.</p>
    <p>Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris.</p>
    <p>Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris.</p>
    <p>Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage.</p>
    <p>Centrer automatiquement la carte par rapport à la position de l'utilisateur.</p>
    <p>Trier automatiquement la liste des stations par rapport à la position de l'utilisateur.</p>
    <p>Rendre votre application bilingue Français / Anglais.</p>
    <p>Déployer votre code sur un serveur accessible publiquement en consultation.</p>
    <p>Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal).</p>
</div>
