﻿@model List<Station_Velo>

<div class="text-center">
    <h1 class="display-4">Les stations</h1>
    <table>
        <thead>
            <tr>
                <th class="bordure">Nom station</th>
                <th class="bordure">Nombre vélos électriques</th>
                <th class="bordure">Nombre vélos total</th>
                <th class="bordure">Nombre emplacements libres</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var station in Model)
            {
                <tr>
                    <td class="bordure">@station.Nom</td>
                    <td class="bordure">@station.Nombre_Velo_Electrique</td>
                    <td class="bordure">@station.Nombre_Velo_Total</td>
                    <td class="bordure">@station.Nombre_Emplacement_Libre</td>
                </tr>
            }
        </tbody>
    </table>
</div>